<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("english"), locale:"en" %>
    <%= link_to t("vietnamese"), locale:"vi" %>

    <%= link_to "sample app", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), "#" %></li>
        <li><%= link_to t("help"), "#" %></li>
        <li><%= link_to t("log_in"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
