<div id="<%= dom_id user %>">
  <p>
    <strong><%= t("users.name") %> :</strong>
    <%= user.name %>
  </p>

  <p>
    <strong><%= t("users.email") %> :</strong>
    <%= user.email %>
  </p>

</div>
